body{

  background: linear-gradient(45deg, #f322f3, #e23778, #da1b3b, #820f86);
  background-size: 400% 400%;
  
animation: gradient 10s ease infinite;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.cont{
display: block;

}
.img{

position: relative;
top: 150px;
}

